@import url(http://fonts.googleapis.com/css?family=Lora);
@import url(http://fonts.googleapis.com/css?family=Lato:900);

html {
    background: #000;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    color: #111;
}

body {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.8);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.01rem;
    line-height: 1.5;
    padding-top: 69px;
    padding-bottom: 69px;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    color: #111;
    font-size: 42px;
    font-weight: 900;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4)
}

#clear-content h1, #clear-content p, .front h1, .front a, .front a:active, .front a:visited, .front p {
    color: #FFF;
}

h1,h2,h3,h4 {
    font-family: 'Lato', sans-serif;
    margin-top: 0;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4)
}

a,a:active,a:hover,a:visited {
    color: rgba(82, 168, 236, 1);
    text-decoration: none;
}

a:hover {
    text-shadow: 0 0 3px rgba(82, 168, 236, 0.6);
}

p {
    font-family: 'Lora', serif;
    margin-bottom: 30px;
}

ul, ol {
    margin-bottom: 30px;
}

ul li, ol li {
    font-family: 'Lora', serif;
}

.well {
    background-color: transparent;
    background:rgba(255,255,255,0.9);
    border: none;
}

blockquote {
    border-left: none;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D";
}
blockquote:before {
    color: rgba(0, 0, 0, 0.8);
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote:after {
    font-size: 4em;
    line-height: 0.1em;
    vertical-align: -0.4em;
    content:"\201D";
}

blockquote p {
    display: inline;
    font-size: 150%;
    font-weight: 300;
    line-height: 1.25;
    margin-left: -20px;
}

/* Primary Links / Main Menu */
.primary-links {
    float: left;
    padding: 0;
}

.primary-links li {
    list-style-type: none;
    display: inline;
}

.primary-links li a {
    color: #FFF;
    display: inline-block;
    font-family: 'Lora', serif;
    padding: 0 10px 5px 0;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4)
}

.primary-links .first a {
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 48px;
    font-weight: 900;
    padding: 0;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4)
}

.primary-links li.last a {
    padding: 0 0 5px 0;
}

/* Blog */
.blog li {
    margin-bottom: 20px;
}

.blog > li > a > img {
    float: left;
    margin: 0 20px 0 0;
    width: 33%;
    height: auto;
}

.blog h2 a {
    color: rgba(0, 0, 0, 0.8);
}

/* Twitter */
.tweet-list {
    padding-left: 0;
    list-style: none;
}

.tweet-list li {
    clear: left;
    margin: 0 0 20px 0;
}

.tweet-list img {
    float: left;
    margin: 8px 20px 20px 0;
}

.tweet-actions a {
    color: rgba(0, 0, 0, 0.8);
    font-family: arial, sans-serif;
    font-size: 80%;
}

.views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 2.7em;
}

/* Drupal and Bootstrap Resets */
.btn-info {
    background-color: #ddd;
    border-color: #c6c6c6;
    color: #9a9a9a;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
    background-color: #b0b0b0;
    border-color: #9a9a9a;
    color: #fff;
}

img {
    max-width: 100%;
    height: auto;
}

code, pre code {
    white-space: normal;
}

.confirm-parent, .password-parent,
div.form-item div.password-suggestions {
    width: 100%;
}

#edit-cancel {
    color: #CCC;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
}

.form-control.form-file {
    padding: 0;
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    margin-top: 10px;
}

.messages {
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 15px;
}

.messages.warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}

.messages.status {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}

.messages.success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}

/* Media Queries */
@media screen and (max-width: 695px) {
    html {
        background: #111 !important;
    }

    body {
        padding-top: 20px;
        padding-bottom: 0;
    }

    .well, .well-lg {
        border-radius: 0;
    }

    .blog > li > a > img {
        float: none;
        margin: 0 0 20px 0;
        width: 100%;
        height: auto;
    }
}

/* Admin Page Theming */
.page-admin-appearance-styleguide,
.page-node-add {
    background: rgba(0, 0, 0, 0) url("http://jimbir.ch/sites/default/files/styles/background/public/img/page/Jim%20Playing%20Theremin.jpg?itok=eHhZG3bm") no-repeat fixed center center;
    background-size: cover !important;
}